#Header{
text-align: center;
background-image: url(./images/landing.jpg);
border: none;
margin-right: 8%;
margin-left:8% ;
}
ul{
  list-style-type: none;
  margin-left: 10%;
  padding: 10px;
  border:1px #f15a29;
  display: flex;
  margin-top: -26px;

}
li{
  border: 1px #f15a29;
  margin:0px;
  padding: 1px;
}
.b{
  background-image: url(./images/breakfast.jpg);
  height: 200px;
  width: 300px;
  text-align: center;
  line-height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: aliceblue;
}
.l{
  background-image: url(./images/lunch.jpg);
  background-color: gray;
  opacity: 0.7;
  height: 200px;
  width: 300px;
  text-align: center;
  line-height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: aliceblue;
}
.d{
  background-image: url(./images/dinner.jpg);
  height: 200px;
  width: 300px;
  text-align: center;
  line-height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: aliceblue;
}
.p{

  background-color:#f15a29 ;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: gray;
}
.h{background-color: gray;
  width: 150px;
  margin-left: -40px;

}
